body {
	background-image: url(../images/background.jpg);
}


h1
{
	color: #efefef;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 200px;
}

#welcomeTitle
{
	color: #efefef;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 50px;
}

#logo 
{
	max-width: 75px;
	display: block;
	margin: 0 auto;
	margin-top: 200px;
}

form input {
	display: block;
	margin: 0 auto;
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	transition: 1s;
}

form input:hover
{
	background-color: rgba(255, 255, 255, .5);
}

#submit {
	margin-top: 10px;
}

.errorTxt {
	text-align: center;
}

#logoutButtonCont {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logoutButton {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	transition: .5s;
}

#logoutButton:hover {
	background-color: rgba(255, 255, 255, .5);
}

#lastLogin {
	position: fixed;
	bottom: 0px;
	left: 5px;
	color: #efefef;
	font-family: 'Raleway', sans-serif;
}