body {
	background-image: url(../images/background.jpg);
	color: white;
}


h1
{
	color: #efefef;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 200px;
}

a
{
	text-decoration: none;
	color: white;
}

#welcomeTitle
{
	color: #efefef;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 50px;
}

.deleteButton
{
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 5px;
	padding-right: 5px;
	transition: .5s;
}

.deleteButton:hover
{
	background-color: rgba(255, 255, 255, .6);
}

#logo 
{
	max-width: 75px;
	display: block;
	margin: 0 auto;
	margin-top: 200px;
}

form input {
	display: block;
	margin: 0 auto;
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	transition: 1s;
}

form input:hover
{
	background-color: rgba(255, 255, 255, .5);
}

.createLabel
{
	color: #efefef;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.createLevel
{
	color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 50px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#submit {
	margin-top: 10px;
}

.errorTxt {
	text-align: center;
}


#createuserButtonCont {
	text-align: center;
	/*display: block;
	float: left;
	margin: 0 auto;
	margin-top: 40px;*/
	margin-bottom: 30px;
}

#createuserButton {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	transition: .5s;
}

#createuserButton:hover {
	background-color: rgba(255, 255, 255, .5);
}

#logoutButtonCont {
	text-align: center;
	/*display: block;
	float: left;
	margin: 0 auto;
	margin-top: 40px;*/
}

#logoutButton {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	border-radius: 100px;
	border: solid 1px #efefef;
	background-color: rgba(255, 255, 255, .2);
	color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	transition: .5s;
}

#logoutButton:hover {
	background-color: rgba(255, 255, 255, .5);
}

#lastLogin {
	position: fixed;
	bottom: 0px;
	left: 5px;
	color: #efefef;
	font-family: 'Raleway', sans-serif;
}